<span class="created-by">
    Created with ♥ by <b><a href="https://akveo.page.link/8V2f" target="_blank">Souleman and Mady</a></b> 2019
  </span>
  <div class="socials">
    <a href="#" target="_blank" class="ion ion-social-github"></a>
    <a href="#" target="_blank" class="ion ion-social-facebook"></a>
    <a href="#" target="_blank" class="ion ion-social-twitter"></a>
    <a href="#" target="_blank" class="ion ion-social-linkedin"></a>
  </div>